# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Data files (optional)
*.csv
*.tsv
*.parquet
*.xlsx
*.zip

# Cache
.cache/
*.cache
